a {
  margin: auto;
}

.Bio {
  display: flex;
  flex-direction: column;

  position: relative;
  /* top: 150px; */
  /* right: 50px; */

  max-width: 700px;
  margin: auto;
  color: #ffffff;
}

.Bio-name-text {
  font-size: calc(7vmin + 1px);
}

.Bio-tagline-text {
  font-size: calc(2vmin + 1px);
  text-align: center;
  font-weight: 600;
}
.icon{
  padding-right: 10px;
  padding-top: 10px;
}

.portfolioBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border-collapse: separate;
  border-color: white;
  border-style: solid;
  border-width: thick;
  color: white;
  cursor: pointer;
  margin: auto;
  margin-top: 3%;
  min-width: 300px;
  outline: none;
  overflow: hidden;

  padding: 20px 60px 20px 60px;
  font-size: 20px;
  transition-duration: .2s;
}

.portfolioBtn:hover{
  border-color: rgb(192, 192, 192);
  color: rgb(192, 192, 192);
}